name: Android Build

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.1'
          channel: 'stable'

      - name: Get Dependencies
        working-directory: ./rivulet
        run: flutter pub get

      - name: Build APK
        working-directory: ./rivulet
        run: flutter build apk --release

      - name: Rename APK
        working-directory: ./rivulet
        run: mv build/app/outputs/flutter-apk/app-release.apk rivulet-android.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: rivulet-android
          path: rivulet/rivulet-android.apk
